*{
    firstPageButtonColor : #182e6d;
    firstPageButtonBorderColor : #59a1ff;

}

#firstPageButtons{
    -fx-font-family:"Microsoft Tai Le";
    -fx-font-size: 15.0 ;
    -fx-font-weight: bold;
    -fx-background-color: firstPageButtonColor;
    -fx-border-color: firstPageButtonBorderColor;
    -fx-border-width: 3;
    -jfx-button-type: RAISED;
    -fx-text-fill: white;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: black;
}